.vermelha {
    color: #f30;
}

.azul {
    color: #03a;
}

.verde {
    color: rgb(86, 179, 0);    
}

#integracao2{        
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; /*coloca um abaixo de outro*/
        background-color: #ccc;
}